@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-150 {
    @apply text-[150px] leading-[72px];
  }
  .text-96 {
    @apply text-[96px] leading-[72px];
  }
  .text-72 {
    @apply text-[72px] leading-[72px];
  }
  .text-48 {
    @apply text-[48px] leading-[48px];
  }
  .text-40 {
    @apply text-[40px] leading-[40px];
  }
  .text-32 {
    @apply text-[32px] leading-9;
  }
  .text-28 {
    @apply text-[28px] leading-[28px];
  }
  .text-24 {
    @apply text-[24px] leading-8;
  }
  .text-16 {
    @apply text-[16px] leading-[26px];
  }
  .text-15 {
    @apply text-[15px] leading-[25px];
  }
  /* nav text */
  .text-12 {
    @apply text-[12px] font-bold leading-[15px] tracking-[0.923px];
  }

  /* bg customs */
  .home-hero {
    background-image: url("/home/mobile/image-hero-coffeepress.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @screen md {
      background-image: url("/home/tablet/image-hero-coffeepress.jpg");
    }
    @screen lg {
      background-image: url("/home/desktop/image-hero-coffeepress.jpg");
    }
  }
  .colmask {
    /* mask-image: linear-gradient(black, transparent); */
    mask: linear-gradient(360deg, rgba(254, 252, 247, 0.2) 100%, #fefcf7 100%);
  }

  /* benefit box */
  .benefit-box {
    @apply -mb-[630px] h-[902px] md:-mb-[310px] md:h-[540px] lg:-mb-[250px] lg:h-[460px];
  }
}
