@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  /* Typography */
  .heading-alt {
    @apply text-[150px] leading-[72px];
  }
  .heading-h1 {
    @apply text-[72px] leading-[72px];
  }
  .heading-h2 {
    @apply text-[40px] leading-[48px];
  }
  .heading-h3 {
    @apply text-[32px] leading-[36px];
  }
  .heading-h4 {
    @apply text-[24px] leading-[32px];
  }
  .body {
    @apply text-[16px] leading-[26px];
  }
  .body-nav {
    @apply text-[12px] leading-[15px];
  }
}
